.box {
    margin-bottom: 1rem;
    .label {
        margin-bottom: .5rem;
        display: flex;
    }

    .input_box {
        display: flex;
        margin-bottom: .5rem;

        .input_text {
            width: 100%;
            padding: 1rem;
            box-sizing: border-box;
    
            margin-right: .5rem;
            
        }
    
        .input_text::placeholder {
            font-size: 1rem;
            color: rgb(185, 185, 185);
        }
    }
    
}

.button {
    width: 100%;
}